.cover__link {
    text-decoration: none;
    height: 740px;
    width: 100%;
    background: rgb(42, 44, 47, 0.3);
}

 .cover__link:hover {
        background: rgb(42, 44, 47, 0.8);
    }

@media screen and (max-width: 1024px) {
    .cover__link {
            height: 640px;
        }
    }
    
@media screen and (max-width: 768px) {
    .cover__link {
            height: 480px;
            margin: 0 auto 88px;
        }
    }
    
 @media screen and (max-width: 320px) {
    .cover__link {
            height: 200px;
            margin: 0 auto 64px;
        }
    }