@import url(./_url-heading/place__website_url-heading.css);
@import url(./_link/place__website_link.css);

.place__website {
    list-style: none;
    padding: 0;
    align-self: end;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .place__website {
        display: none;
    }
}