.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    color: white;
    z-index: 5;
    margin: 0 auto 0;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
    }
}