@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__list/header__list.css);

.header__lang-link_ru:focus {
    border-bottom: 1px solid white;
}

.header__lang-link_en:focus {
    border-bottom: 1px solid white;
}

.header {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    padding: 28px 48px 0;
    justify-content: space-between;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0;  
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 16px 16px 0;  
    }
}
