.lead__title {
    max-width: 720px;
    height: 200px;
    color: white;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 56px auto 32px;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        margin: 48px auto 32px
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: 288px;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
        margin: 48px 0 16px;
    }
}