.place__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color:white;
    margin: 0 auto 24px;
    text-align: start;
}

.place__paragraph:nth-child(n+2) {
 margin: 0 auto 0;
}


@media screen and (max-width: 768px) {
    .place__paragraph {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        width: 288px;
        font-size: 16px;
        line-height: 26px;
    }
}