@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__backrgound.css);

.cover {
    display: grid;
    grid-template-rows: min-content;
    width: 1184px;
    height: 740px;
    justify-items: center;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        width: 768px;
        height: 480px;
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 320px;
        height: 200px;
        margin: 0 auto 64px;
    }
}

