@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__image/place__image.css);
@import url(./__text/place__text.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);

.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    grid-gap: 40px;
    margin: 0 auto 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        grid-gap: 32px;

    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        grid-template-columns: 340px 1fr;
        grid-gap: 28px;
        
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        
    }
}