@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);
@import url(./__list/footer__list.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);

.footer {
    max-width: 1184px;
    display: flex;
    margin: 0 auto 24px;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 0 48px 24px;
        
    }
}


@media screen and (max-width: 768px) {
    .footer {
        margin: 0 24px 24px;
        
    }
}

@media screen and (max-width: 700px) {
    .footer {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 24px;
        
    }
}
