@import url(./__copyright/footer__copyright.css);
@import url(./__list/footer__list.css);
@import url(./__link/footer__link.css);

.footer {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .footer {
        grid-template-columns: repeat(1, max-content);
        justify-content: start;
    }
}