.lead__train {
    width: 984px;
    height: 615px;
    margin: 64px auto 0;
    grid-row: 3;
    grid-column: 1;
}

@media screen and (max-width: 1024px) {
    .lead__train {
        width: 928px;
        height: 580px;
        margin: 56px auto 0;
    }
    
}

@media screen and (max-width: 768px) {
    .lead__train {
        width: 768px;
        height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .lead__train {
        width: 320px;
        height: 200px;
        margin: 40px auto 0;
    }
}